<span class="accordionTitle">
  <div class="expandHide arrowRight"></div><div class="accordionLabel">Facility</div>
</span>

<div class="spatialDetails align_left">
	<div class="select_all">
		<input class="checkAllFacilities" type="checkbox"/> Select All
	</div>
	<div class="list_facilities">
		<form action="">
			
            <% _.each(resources, function(resource) { %>
                <input type="checkbox" value="<%= resource._id %>"/><span> <%= resource.name %></span><br/>
            <% }) %>
        </form>
    </div>
</div>

<script>
	$(function() {
		$('.spatialDetails').hide();
	});
</script>