/*
ooinet-04.css  proto=ooinetLayout04.css
by Peter Rosti
last edited 04-22 04-14 04-09 03-06 03-05 2014-03-03

This layout uses calc() to set height and width values
Note: calc must have spaces in the formula, to accomodate IE bug,
like this: calc(100% - 100px), instead of like this: calc(100%-100px)
DIVS in their native state stretch in WIDTH but not in HEIGHT, so heights have to be handled very specifically for calculated
heights to work at all.
height:100% on both HTML and BODY are REQUIRED because percentages cascade from ancestor to descendant. Even leaving it off html
and just putting it on body only will cause the height calculations contained within the body to fail.
*/

html, body {
 height:100%;
 font-family: Arial;
 font-size: 12px; 
}

body {
 position:relative;
 margin:0px;
 padding:0px;
}

#header {
 position:fixed;
 top:0px;
 left:0px;
 margin:0px;
 padding:0px;
 width:100%;
 height:72px;
 z-index: 50;
 'outline:1px solid #000; /* temp */
}

#header img[id=img_a] {
 position: absolute;
 left: 0px;
 top: 0px;
 z-index: -1;
 height: 72px;
 width: 100%;
}

#header_links {
  color: white;
  position: absolute;
  bottom: 3px;
  right: 0px;
  width: 400px;
  height: 20px;
  line-height: 20px;
  z-index: 4;
  margin: 0px;
  padding: 0px;
  text-align: right;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
}

#header_links a {
  text-decoration: none;
  color: #FFFFFF;
  border: none;
  margin-right: 5px;
}

#header_links a:after {
  margin-left: 5px;
  color: #004972;
  content: "|";
}

#mainSubheader {
 background-color: #dbdee5;
 position:fixed;
 top:72px;
 left:275px;
 margin:0px;
 padding:0px;
 width:calc(100% - 275px);
 height:32px;
 z-index:0;
 'outline:1px solid #000; /* temp */
}

#main {
 position:absolute;
 top:104px;
 /*top:141px;*/
 left:275px;
 padding:0px;
 margin:0px;
 height:calc(100% - 104px);
 /*height:calc(100% - 141px);*/
 width:calc(100% - 275px);
 z-index:0;
 overflow:auto; /* Note: for a contained iframe at 100% height and width, must set overflow:hidden
 otherwise there will be 2 vertical scroll bars (might be a browser bug). */
 'outline:1px solid #000; /* temp */
}

 a:link, a:visited {
   color: #000;
   text-decoration: none;
   		font-weight:normal;
 }

#dynamic-container {  /* same as main */
 position:absolute;
 top:104px;
 left:275px;
 padding:0px;
 margin:0px;
 height:calc(100% - 104px);
 width:calc(100% - 275px);
 z-index:0;
 overflow:auto; /* Note: for a contained iframe at 100% height and width, must set overflow:hidden
 otherwise there will be 2 vertical scroll bars (might be a browser bug). */
 'outline:1px solid #000; /* temp */
 		background-color:#dbdee5
}

#left {
 background-color: #384d68;
 position:absolute;
 top:104px;
 left:0px;
 height:calc(100% - 104px);
 width:275px;
 overflow: auto;
 z-index:1;
 'outline:1px solid #000; /* temp */
}

#leftSubheader {
 background-color: #dbdee5;
 position:fixed;
 top:72px;
 left:0px;
 margin:0px;
 padding:0px;
 width:275px;
 height:32px;
 z-index:0;
 'outline:1px solid #000; /* temp */
}

#upperMain {
 position:absolute;
 top:0px;
 left:0px;
 margin:0px;
 padding:0px;
 width:100%;
 height:60%;
 z-index:4;
 overflow:auto;
}

#lowerMain {
 position:absolute;
 top:60%;
 left:0px;
 margin:0px;
 padding:0px;
 width:100%;
 height:40%;
 z-index:4;
 overflow:auto;
}

.innerMain {
  position:relative;
  margin:0px;
  padding:0px;
  width:100%;
  z-index:4;
  overflow:auto;
}

#upperLeft {
  position:absolute;
  top:0px;
  left:0px;
  margin:0px;
  padding:0px;
  width:100%;
  height:33%;
  z-index:4;
  overflow:auto;
}

#middleLeft {
  position:absolute;
  top:33%;
  left:0px;
  margin:0px;
  padding:0px;
  width:100%;
  height:33%;
  z-index:4;
  overflow:auto;
}

#lowerLeft {
  position:absolute;
  top:66%;
  left:0px;
  margin:0px;
  padding:0px;
  width:100%;
  height:33%;
  z-index:4;
  overflow:auto;
}

.innerLeft {
  position:relative;
  margin:0px;
  padding:0px;
  width:100%;
  z-index:4;
  overflow:auto;
}

#searchBar {
  position: absolute;
  top: 20px;
  left: 0px;
}

#login {
 color: #abceea;
 position: absolute;
 top: 10px;
 right: 4px;
 text-align: right;
 padding: 0px;
 margin: 0px;
 width: 300px;
 height: 20px;
 z-index: 8;
 line-height: 20px;
 'outline:1px solid #000; /* temp */
}

.current-user {margin-right:6px}

/* ---------------------------------------------------------------
 TEMP USER-NAV - ALL BLUE BUTTONS TO GET THIS STYLE EVENTUALLY
--------------------------------------------------------------- */

#login a.btn-navigation {
 border-radius: 3px;
 font-size: 12px;
 font-weight: 300;
 letter-spacing: 0px;
 color: #FFF;
 padding: 6px;
}

#login a.btn-navigation:hover {
  text-decoration:underline;
}

/* Add margin to Bootstrap span btn group */
#login .dropdown {
 margin-left: 3px;
}

a.btn-navigation-plain {
 color: #FFFFFF;
 font-size: 11px;
 font-weight: 400;
 letter-spacing: 2px;
 padding-top: 5px;
 padding-right: 10px;
 padding-bottom: 5px;
 padding-left: 5px;
 text-decoration: none;
 text-transform: uppercase;
 border: solid transparent 1px;
}

ul.dropdown-menu {
 background-color:#d7d7d7;
 padding:5px;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-size:10px;
 font-weight:400;
 letter-spacing:1px;
 color:#666;
}

ul.dropdown-menu li {
 padding: 2px 5px;
 font-size: 11px;
 text-transform: uppercase;
 cursor: pointer;
 color: #666;
}

ul.dropdown-menu li:hover {
 color: #fff;
 background: #999;
 text-shadow: none;
}

/* ---------------------------------------------------------------
 END TEMP USER-NAV
--------------------------------------------------------------- */

/* left sidebar accordion */
#accordion_container {
  position: absolute;
  top: 21px;
  left: 0px;
  background-color: #384d68;
  padding-top: 0px;
  color: #fff;
  font-family: Arial;
  font-size: 12px; 
  width: 100%;
  height:calc(100% - 21px);
  overflow: auto;
}

.accordion_control {
  position: relative;
}

.accordion_label {
  color: #FFF;
  padding: 0px;
  display: inline-block;
}

.textRight {
  height: 16px;
  line-height: 12px;
  margin: 5px 3px 5px auto;
  text-align: right;
  background-color: #384d68;
  color: #fff;
  font-family: Arial;
  font-size: 12px; 
  overflow: none;
}

.left_accordion {
  background-color: #3b5e7e;
  background: -webkit-gradient(linear, left top, right top, from(#5687AF), to(#3B5E7E));
  background: -webkit-linear-gradient(left, #5687AF, #3B5E7E);
  background: -moz-linear-gradient(left, #5687AF, #3B5E7E);
  background: -o-linear-gradient(left, #5687AF, #3B5E7E);
  padding: 4px 10px;
  /*width: 217px;*/
  margin-bottom: 5px;
  margin-right: 3px;
  margin-left: 3px;
  border: 1px solid #5687AF;
  border-left: 0px;
  border-radius: 7px;
}

.spatial_duration, .latlong {
  height: 13px !important;
  color: #969fa6;
}

.spatial_duration {
  width: 23px;
}

.latlong {
  width: 40px;
}

input.latlong {
	height: 16px;
	line-height: 12px;
	padding: 1px;
	margin-top: 0px;
	font-size: 12px;
}

.expand-hide {
  display:inline-block;
}

.accordion_title {
  cursor: pointer;
}

 input.keyword {
  width: calc(100% - 58px);
  margin-left: 4px;
  margin-bottom: 2px;
}

#spatial input {
  width: 40px;
}

select.date_menu {
  width: 54px;
}

#accordion_container input {
  height: 16px;
  line-height: 16px;
  padding: 0px 2px;
  margin: 0px;
  font-family: Arial;
  font-size: 12px; 
}

#accordion_container select {
  height: 16px;
  line-height: 16px;
  padding: 0px;
  margin: 0px;
  font-family: Arial;
  font-size: 12px; 
}

.left_navi_select_container {
  position: relative;
  width: 160px;
  height: 16px;
  padding: 0px;
  border: 1px solid #384D68;
  border-radius: 3px;
  margin-bottom: 4px;
}

.left_navi_narrow_select_container {
position: relative;
height: 16px;
padding: 0px;
border: 1px solid #384D68;
border-radius: 3px;
margin-bottom: 4px;
display: inline-block;
}

.left_navi_narrow_select_container {
  width: 60px;
  top: 9px;
  height:16px;
}

.left_navi_narrow_select_arrow {
  width: 60px;
}

.left_navi_select_arrow {
   width: 160px;
}

.left_navi_select_arrow, .left_navi_narrow_select_arrow {
  pointer-events:none;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 16px;
  background: transparent;
  background: url('../img/left_select_arrow.png') no-repeat right;
}

.left_navi_select_container select {
  width: 160px;
}

.left_navi_narrow_select_container select {
  width: 60px;
}

.left_navi_select_container select, .left_navi_narrow_select_container select {
  position: absolute;
  left: 0px;
  top: 0px;
  border: 0px;  
  -webkit-appearance: none;
  height: 16px !important;
  padding: 0px;
  color: #fff;
  font-size:12px;
  line-height: 16px;
  border-radius: 3px;
  background: -webkit-gradient(linear, left top, right top, from(#88A9CC), to(#7890AC));
  background: -webkit-linear-gradient(left, #88A9CC, #7890AC);
  background: -moz-linear-gradient(left, #88A9CC, #7890AC);
  background: -o-linear-gradient(left, #88A9CC, #7890AC);
}

.top_search_radius {
  display: none;
}

input.no_placeholder_radius {
  display: none;
}

.miles_kilos_menu {
  display: none;
}

select.lat_long_menu option {
  background-color: #384d68;
}

.spatial_details h5 {
  line-height: 8px;
  font-size: 12px;
}

.label_through {
  height: 10px;
  display: block;
}

.arrow_down {
  cursor: pointer;
  width: 0px;
  height: 2px;
  display: inline-block;
  padding: 0px;
  margin-top: -2px;
  margin-right: 4px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 5px solid #fff;
}

.arrow_right {
  cursor: pointer;
  width: 0px;
  height: 0px;
  display: inline-block;
  padding: 0px;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 3px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 5px solid #fff;
}
#search_bar_container {
  background-color: #3b5e7e;
  padding-left: 10px;
  border-radius: 3px;
}

#search_bar_container h5 {
  color: #FFF;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  font-size:12px;
}

.two_nav_tabs {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

.two_nav_tab {
  cursor: pointer;
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #FFF;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.two_nav_tabs .active {
  background-color: #384d68;
  color: #fff;
}

.mapButtonSplit {
  cursor: pointer;
  width: 39px;
  height: 26px;
  padding: 0px;
  margin: 0px;
  position: absolute;
  bottom: 4px;
  right: 45px;
  background: url('../img/map-button-02-03.png');
}

.mapButtonFull {
  cursor: pointer;
  width: 39px;
  height: 26px;
  padding: 0px;
  margin: 0px;
  position: absolute;
  bottom: 4px;
  right: 88px;
  background: url('../img/map-button-01-03.png');
}

.mapButtonHidden {
  cursor: pointer;
  width: 39px;
  height: 26px;
  padding: 0px;
  margin: 0px;
  position: absolute;
  bottom: 4px;
  right: 3px;
  background: url('../img/map-button-03-03.png');
}

.jspVerticalBar {
  right: 4px;
}

.jspTrack {
  background: none;
}

.jspDrag {
  background: #88A9CC;
}

#accordionContainerWhite {
  color: #000;
  position: relative;
  width:  calc(100% - 8px);
  margin: 3px;
}

.accordionWhiteChevron {
  position: absolute;
  right: 22px;
  top: 7px;
}

.accordionWhitePin {
  position: absolute;
  right: 5px;
  top: 7px;
  width: 14px;
  height: 14px;
  background: url('../img/tack1.png');
}

.pinned .accordionWhitePin {
  background: url('../img/tack2.png');
}

.icon-chevron {
  background-position: -288px -120px;
}

.collapsed .icon-chevron {
  background-position: -313px -119px;
}

.accordionWhite {
  position: relative;
  width: 100%;
  margin: 0px;
  margin-bottom: 3px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.accordionWhiteLabel {
  padding: 5px 8px;
  border-radius: 5px;
  color:#3e6586;
  font-size:14px;
  font-weight: 300;
  background: rgb(249,249,249); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU1JSIgc3RvcC1jb2xvcj0iI2Q2ZDZkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmVmZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(221,221,221,1) 53%, rgba(214,214,214,1) 55%, rgba(239,239,239,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(53%,rgba(221,221,221,1)), color-stop(55%,rgba(214,214,214,1)), color-stop(100%,rgba(239,239,239,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(221,221,221,1) 53%,rgba(214,214,214,1) 55%,rgba(239,239,239,1) 100%); /*   Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(221,221,221,1) 53%,rgba(214,214,214,1) 55%,rgba(239,239,239,1) 100%); /* Opera 11.10+  */
  background: -ms-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(221,221,221,1) 53%,rgba(214,214,214,1) 55%,rgba(239,239,239,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(249,249,249,1) 0%,rgba(221,221,221,1) 53%,rgba(214,214,214,1) 55%,rgba(239,239,239,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#efefef',GradientType=0 ); /* IE6-8 */
}

.accordionWhiteLabel:hover {
	background: rgb(234,234,234); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2Q4ZDhkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2NlY2VjZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(234,234,234,1) 0%, rgba(216,216,216,1) 51%, rgba(206,206,206,1) 51%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,1)), color-stop(51%,rgba(216,216,216,1)), color-stop(51%,rgba(206,206,206,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(216,216,216,1) 51%,rgba(206,206,206,1) 51%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(216,216,216,1) 51%,rgba(206,206,206,1) 51%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(216,216,216,1) 51%,rgba(206,206,206,1) 51%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(234,234,234,1) 0%,rgba(216,216,216,1) 51%,rgba(206,206,206,1) 51%,rgba(229,229,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */

}

.accordionContents {
  padding: 5px;
}