<section id="accordion_container">
	<span class="textRight">Save this Search</span>
<article class="left_accordion" id="keyword">
	<a class="expand_hide arrow_down" href="#"></a><h4>Keyword</h4>
	<div class="spatial_details">
		More information
	</div>
</article>
<article class="left_accordion" id="spatial">
	<a class="expand-hide" href="#">close</a><h4>Spatial</h4>
	<div class="spatial_details">
		<select>
			<option>Lat/Long</option>
		</select>
		<input class="spatial_duration" type="text" /> <input class="spatial_duration" type="text" /> to <input class="spatial_duration" type="text" /> <input class="spatial_duration" type="text" />
	</div>
</article>
<article class="left_accordion" id="temporal">
	<a class="expand_hide" href="#">close</a><h4>Temporal</h4>
	<div class="spatial_details">
		<select>
			<option>Data Collection</option>
			<!--<input type="checkbox">All</input>-->
		</select>
		<h5>From</h5>
		<input class="spatial_duration" type="text" /> <input class="spatial_duration" type="text" /> <input class="spatial_duration" type="text" /> <input class="spatial_duration" type="text" />
		<h5>To</h5>
		<input class="spatial_duration" type="text" /> <input class="spatial_duration" type="text" /> <input class="spatial_duration" type="text" /> <input class="spatial_duration" type="text" />
	</div>
</article>
<article class="left_accordion" id="boolean_expression">
	<a class="expand_hide" href="#">close</a><h4>Boolean Expression</h4>
	<div class="spatial_details">
		More information
	</div>
</article>
<article class="left_accordion" id="region">
	<a class="expand_hide" href="#">close</a><h4>Region</h4>
	<div class="spatial_details">
		More information
	</div>
</article>
<article class="left_accordion" id="site">
	<a class="expand_hide" href="#">close</a><h4>Site</h4>
	<div class="spatial_details">
		More information
	</div>
</article>
<article class="left_accordion" id="station">
	<a class="expand_hide" href="#">close</a><h4>Station</h4>
	<div class="spatial_details">
		More information
	</div>
</article>
<article class="left_accordion" id="platform">
	<a class="expand_hide" href="#">close</a><h4>Platform</h4>
	<div class="spatial_details">
		More information
	</div>
</article>
<article class="left_accordion" id="instrument">
	<a class="expand_hide" href="#">close</a><h4>Instrument</h4>
	<div class="spatial_details">
		More information
	</div>
</article>
<article class="left_accordion" id="data_type">
	<a class="expand_hide" href="#">close</a><h4>Data Type</h4>
	<div class="spatial_details">
		More information
	</div>
</article>
</section>