<section id="accordion_container">
	<span class="textRight">Save this Search</span>
<article class="left_accordion" id="keyword">
	<div class="expand_hide arrow_down"></div><div class="accordion_label">Keyword</div>
	<div class="spatial_details">
		More information
	</div>
</article>
<article class="left_accordion" id="spatial">
	<div class="expand_hide arrow_down"></div><div class="accordion_label">Spatial</div>
	<div class="spatial_details">
		<select>
			<option>Lat/Long</option>
		</select>
		<input class="spatial_duration" type="text" /> 
		<input class="spatial_duration" type="text" /> to 
		<input class="spatial_duration" type="text" /> 
		<input class="spatial_duration" type="text" />
	</div>
</article>
<article class="left_accordion" id="temporal">
	<div class="expand_hide arrow_down"></div><div class="accordion_label">Temporal</div>
	<div class="spatial_details">
		<select>
			<option>Data Collection</option>
			<!--<input type="checkbox">All</input>-->
		</select>
		<h5>From</h5>
		<input class="spatial_duration" type="text" /> <input class="spatial_duration" type="text" /> <input class="spatial_duration" type="text" /> <input class="spatial_duration" type="text" />
		<h5>To</h5>
		<input class="spatial_duration" type="text" /> <input class="spatial_duration" type="text" /> <input class="spatial_duration" type="text" /> <input class="spatial_duration" type="text" />
	</div>
</article>
<article class="left_accordion" id="boolean_expression">
	<div class="expand_hide arrow_down"></div><div class="accordion_label">Boolean Expression</div>
	<div class="spatial_details">
		More information
	</div>
</article>
<article class="left_accordion" id="region">
	<div class="expand_hide arrow_down"></div><div class="accordion_label">Region</div>
	<div class="spatial_details">
		More information
	</div>
</article>
<article class="left_accordion" id="site">
	<div class="expand_hide arrow_down"></div><div class="accordion_label">Site</div>
	<div class="spatial_details">
		More information
	</div>
</article>
<article class="left_accordion" id="station">
	<div class="expand_hide arrow_down"></div><div class="accordion_label">Station</div>
	<div class="spatial_details">
		More information
	</div>
</article>
<article class="left_accordion" id="platform">
	<div class="expand_hide arrow_down"></div><div class="accordion_label">Platform</div>
	<div class="spatial_details">
		More information
	</div>
</article>
<article class="left_accordion" id="instrument">
	<div class="expand_hide arrow_down"></div><div class="accordion_label">Instrument</div>
	<div class="spatial_details">
		More information
	</div>
</article>
<article class="left_accordion" id="data_type">
	<div class="expand_hide arrow_down"></div><div class="accordion_label">Data Type</div>
	<div class="spatial_details">
		More information
	</div>
</article>
</section>