<div id="two_nav_tabs" class="two_nav_tabs">
	<div id="two_nav_search_tab" class="two_nav_tab active">Search</div>
	<div id="two_nav_searches_tab" class="two_nav_tab">My Searches</div>
</div>

<script>
	$(function () {
		$(".two_nav_tab").click(function(e){
			var target = $(e.target);
			target.addClass('active').siblings().removeClass('active');
		});

		$("#two_nav_search_tab").click(function(e){
			IONUX.Views.LeftSidebar.model = IONUX.Models.LeftSidebar;
			IONUX.Models.LeftSidebar.fetch({
				async: false,
				dataType: 'html'
			});
		});

		$("#two_nav_searches_tab").click(function(e){
			$('#left').html('');
		});
	})
</script>