<span class="accordion_title">
  <div class="expand_hide arrow_right"></div><div class="accordion_label">Region</div>
</span>

<div class="spatial_details align_left">
	<div class="select_all">
		<input class="checkAll" type="checkbox"/> Select All
	</div>
	<div class="list_regions">
		<form action="">
			
    		<% _.each(resources, function(nested_resources, san) { %>
    			<input id="region_item" type="checkbox" data-spatial="<%= san %>"/> <%= san %><br/>
    			<% _.each(nested_resources, function(nest) { %>
    				<div style="display: none"><%= nest.name %></div>
    			<% }); %>
    		<% }); %>
		</form>
	</div>
 </div>