<span class="accordionTitle">
  <div class="expandHide arrowRight"></div><div class="accordionLabel">Region</div>
</span>

<div class="spatialDetails align_left">
	<div class="select_all">
		<input class="checkAll" type="checkbox"/> Select All
	</div>
	<div class="list_regions">
		<form action="">
			
    		<% _.each(resources, function(nested_resources, san) { %>
    			<input id="region_item" type="checkbox" data-spatial="<%= san %>"/> <%= san %><br/>
    			<% _.each(nested_resources, function(nest) { %>
	                <% if (nest.local_name) { %>
	                  <div style="display: none"><%= nest.local_name %></div>
	                <% } else { %>
	                  <div style="display: none"><%= nest.name %></div>
	                <% }; %>
    			<% }); %>
    		<% }); %>
		</form>
	</div>
 </div>