<section id="search_bar_container">
  <h5>Spatial</h5>
  <div class="top_navi_select_container">
      <select>
        <option>Lat/Long - Rect</option>
      </select>
      <div class="top_navi_select_arrow"></div>
    </div>
  <div class="accordion_label">From:</div>
   <input class="latlong" type="text" placeholder="Lat" />
  <div class="top_navi_narrow_select_container">
      <select>
        <option>N/S</option>
      </select>
      <div class="left_navi_narrow_select_arrow"></div>
    </div>
    <input class="latlong" type="text" placeholder="Long" />
    <div class="top_navi_narrow_select_container">
      <select>
        <option>E/W</option>
      </select>
      <div class="left_navi_narrow_select_arrow"></div>
    </div>
    <div class="accordion_label top_search_to">To:</div>
    <div class="accordion_label top_search_radius">Radius:</div>
     <input class="latlong placeholder_lat" type="text" placeholder="Lat" />
     <input class="latlong no_placeholder_radius" type="text" />
    <div class="top_navi_narrow_select_container">
      <select class="north_south_menu">
        <option>N/S</option>
      </select>
      <select class="miles_kilos_menu">
        <option>Mi/Km</option>
      </select>
      <div class="left_navi_narrow_select_arrow"></div>
    </div>
      <input class="latlong show_hide_longitude" type="text" placeholder="Long" />
     <div class="top_navi_narrow_select_container show_hide_longitude">
      <select>
        <option>E/W</option>
      </select>
      <div class="left_navi_narrow_select_arrow"></div>
    </div>
</section>
