<span class="accordionTitle">
  <div class="expandHide arrowRight"></div><div class="accordionLabel">Sites</div>
</span>
<div id="site_list" class="spatialDetails align_left" style="display:none;">
    <div class="select_all">
        <input class="checkAllSites" type="checkbox"/> Select All
    </div>
    <div class="list_sites">
    	<form action="">
        	<% _.each(this.collection.models, function(site) { %>
        		<input id="site_item" class="resource_id" data-id="<%= site.attributes._id %>" data-sites="<%= site.attributes.spatial_area_name %>" type="checkbox"/> 
        		<% if (site.attributes.local_name) { %>
        			
    			<%= site.attributes.local_name %><br/>
                <% } else { %>
    			<%= site.attributes.name %><br/>
                <% }; %>
        	<% }) %>
    	</form>
    </div>