<span class="accordion_title">
   <div class="expand_hide arrow_right"></div>
   <div class="accordion_label">Spatial</div>
</span>
<section class="spatial_details">
  <div class="left_navi_select_container">
    <select class="lat_long_menu">
      <option value="1">Lat/Long - Rect</option>
      <option value="2">Point/Radius</option>
    </select>
    <div class="left_navi_select_arrow"></div>
  </div>
  <span class="label_through">From:</span>
  <input class="spatial_duration latlong" type="text" placeholder="Lat" />
  <div class="left_navi_narrow_select_container">
    <select>
      <option>N</option>
      <option>S</option>
    </select>
    <div class="left_navi_narrow_select_arrow"></div>
  </div>
  <input class="spatial_duration latlong" type="text" placeholder="Long" />
  <div class="left_navi_narrow_select_container">
    <select>
      <option>E</option>
      <option>W</option>
    </select>
    <div class="left_navi_narrow_select_arrow"></div>
  </div>
  <span class="label_through top_search_to">To:</span>
  <span class="accordion_label top_search_radius">Radius:</span>
  <input class="spatial_duration latlong placeholder_lat" type="text" placeholder="Lat" />
  <input class="spatial_duration latlong no_placeholder_radius" type="text" />
  <div class="left_navi_narrow_select_container">
    <select class="north_south_menu">
        <option>N</option>
        <option>S</option>
      </select>
    <select class="miles_kilos_menu">
      <option>Mi</option>
      <option>Km</option>
    </select>
    <div class="left_navi_narrow_select_arrow"></div>
  </div>
  <input class="spatial_duration latlong show_hide_longitude" type="text" placeholder="Long" />
  <div class="left_navi_narrow_select_container show_hide_longitude">
    <select>
      <option>E</option>
      <option>W</option>
    </select>
    <div class="left_navi_narrow_select_arrow"></div>
  </div>
  <h5 class="vertical_extents">Vertical Extents</h5> (positive downward)
  <div class="accordion_detail_container">
    <div class="accordion_label">From:</div>
    <input class="spatial_duration latlong" type="text" placeholder="" />
    <div class="accordion_label">To:</div>
    <input class="spatial_duration latlong" type="text" placeholder="Depth" />
    <div class="left_navi_narrow_select_container">
      <select>
        <option>FT</option>
        <option>M</option>
      </select>
      <div class="left_navi_narrow_select_arrow"></div>
    </div>
  </div>
</section>

  

   
 <script>
      $(function(){
        $('.lat_long_menu').on('change', function(e) {
          console.log('changed option ' + $(this).find('option:selected').attr('value'));
          if ($(this).find('option:selected').attr('value') == "2") {
            $('.top_search_to, .placeholder_lat, .north_south_menu, .show_hide_longitude').hide();
            $('.top_search_radius, .no_placeholder_radius, .miles_kilos_menu').show();
          }
          else {
            $('.top_search_radius, .no_placeholder_radius, .miles_kilos_menu').hide();
            $('.top_search_to, .placeholder_lat, .north_south_menu, .show_hide_longitude').show();
          }
        });
      });
</script>
